@font-face
{
    font-family: ;
    src:url() ;
    font-style: normal;
    font-weight: 400;

}
:root {
    --root-fonr-size: 18px;

    --yellow: #f8ef02;
    --cyan: #00ffd2;
    --red: #ff003c;
    --blue: #136377;
    --green: #446d44;
    --purple: purple;
    --black: #000;
    --white: #fff;
    --dark: #333;

    --fg: var(--black);
    --bg: transparent;
    --ac: var(--black);

    --banner-color1: var(--purple); 
    --banner-color2: var(--red);
    --banner-color3: var(--yellow); 
    --banner-color4: var(--cyan); 
    --banner-gradient-stop: 405px;

    --input-padding-top: 0px;
    --input-padding-bot: 0.2rem;
    --input-padding-left: 1rem;
    --input-padding-right: 2rem;
    --input-font-size: 1.2rem;
    --input-width: 240px;

    --checkbox-size: 28px;
    --checkbox-inner-size: 16px;

    --radio-size: 28px;
    --radio-inner-size: 16px;

}
